.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    border-top: 1px solid rgba(255, 80, 0);
}

.item {
    display: flex;
    justify-content: center;
    width: 33%;
}