.collapseBox {
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis;
    width: 85%;
}

.collapseHeaderBox {
}

.fileName {
    font-size: 16px;
    font-weight: bold;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.hashName {
    font-size: 10px;
}

.duplicateNumberBox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.duplicateNumber {
    font-size: 18px;
    font-weight: bold;
    color: rgba(255, 80, 0);
}